
.logo {
  text-indent: -9999em;
  background: url(/images/logo.png) no-repeat;
  width: 662px;
  height: 130px;
  margin: 0 auto;
}

.search-box {
  background: url(/images/search-box.png) no-repeat;
  width: 600px;
  height: 79px;
  margin: 0 auto;
  
  .field {
    position: absolute;
    input {
      position: relative;
      top: 14px;
      left: 20px;
      height: 48px;
      width: 440px;
      font-size: 1.2em;
      border: none;
      background: white;
    }
  }
  
  button {
    position: absolute;
    top: 11px;
    left: 480px;
    background: url(/images/button.png) no-repeat;
    border: none;
    width: 109px;
    text-indent: -9999em;
    height: 57px;
  } 
}

div.examples {
  width: 460px;
  margin-left: 40px;
  padding-top: 10px;
  text-align: center;
}

#footer {
  background: url(/images/footer.png) no-repeat;
  width: 323px;
  height: 57px;
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  right: 10px;
  text-indent: -9999em;
}
