body {
  font-family: Garamond, serif;
  font-size: 22px; }

a img {
  border: none; }

a {
  color: #56ba17; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 670px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  margin-top: 20px; }

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff; }

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px; }

#errorExplanation ul {
  margin: 2px 24px; }

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc; }

.conjugations .set {
  background: gray;
  margin: 5px;
  padding: 5px; }

.highlighted {
  background: red; }

.logo {
  text-indent: -9999em;
  background: url(/images/logo.png) no-repeat;
  width: 662px;
  height: 130px;
  margin: 0 auto; }

.search-box {
  background: url(/images/search-box.png) no-repeat;
  width: 600px;
  height: 79px;
  margin: 0 auto; }
  .search-box .field {
    position: absolute; }
    .search-box .field input {
      position: relative;
      top: 14px;
      left: 20px;
      height: 48px;
      width: 440px;
      font-size: 1.2em;
      border: none;
      background: white; }
  .search-box button {
    position: absolute;
    top: 11px;
    left: 480px;
    background: url(/images/button.png) no-repeat;
    border: none;
    width: 109px;
    text-indent: -9999em;
    height: 57px; }

.examples {
  width: 460px;
  margin-left: 40px;
  padding-top: 10px;
  text-align: center; }

#footer {
  background: url(/images/footer.png) no-repeat;
  width: 323px;
  height: 57px;
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  right: 10px;
  text-indent: -9999em; }
