<div class="verb">
  <div class="infinitive">
  <h1><%= verb.infinitive %></h1>
  </div>

  <div class="conjugations">
    <% verb.displayed_conjugation.each do |key, value| %>
      <div class="set">
        <div class="title">
          <span>
            <%= reverse_words(key).capitalize %>
          </span>
        </div>
        <ul>
            <% value.each do |word| %>
              <% unless word.blank? %>
                <li>
                  <%= content_tag :span, word, :class => (conjugation_matches?(word, params[:s]) ? "highlighted" : "not-highlighted") %>
                </li>
              <% end %>
            <% end %>
          </span>
        </ul>
      </div>
    <% end %>
  </div>
</div>