<div class="logo">
<div class="title">
  <h1>DECONJUGATE.FR</h1>
  </div>
  <div class="description">
    Enter any French verb in any conjugated form:
  </div>
</div>

<%= render :partial => "shared/search_box" %>

<div class="examples">
  Try
  <%= link_to "aime", "#", :rel => "aime" %>,
  <%= link_to "étudierai", "#", :rel => "étudierai" %> or
  <%= link_to "haïssez", "#", :rel => "haïssez" %>
</div>
